<header ng-show='auth.isLogged()' mira=' ip {{isLogged}}' class="navbar navbar-inverse navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".menu-one">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="images/fifo.png" class="img-responsive" ></a>
        </div>

        <nav class="collapse navbar-collapse menu-one" role='navigation'>
            <ul class="nav navbar-nav">
                <li ng-class="{active: isActive('machines')}"><a href="#/machines" translate>Machines</a></li>
                <li ng-class="{active: isActive('datasets')}"><a href="#/datasets" translate>Datasets</a></li>
                <li ng-class="{active: isActive('servers')}"><a href="#/servers" translate>Servers</a></li>
                <li ng-class="{active: isActive('configuration')}" class='dropdown'>
                    <a class='dropdown-toggle' data-toggle='dropdown'><span translate>Configuration</span> <b class='caret'></b></a>
                    <ul class='dropdown-menu'>
                        <li ng-class="{active: isActive('packages')}"><a href="#/configuration/packages" translate>Packages</a></li>
                        <li class='divider'></li>
                        <li class='dropdown-header' translate>Networks</li>
                        <li ng-class="{active: isActive('networks')}"><a href="#/configuration/networks" translate>Groups</a></li>
                        <li ng-class="{active: isActive('ip-ranges')}"><a href="#/configuration/ip-ranges" translate>IP Ranges</a></li>
                        <li class='divider'></li>
                        <li class='dropdown-header' translate>Permissions</li>
                        <li ng-class="{active: isActive('users')}"><a href="#/configuration/users" translate>Users</a></li>
                        <li ng-class="{active: isActive('groups')}"><a href="#/configuration/groups" translate>Groups</a></li>
                        <li ng-class="{active: isActive('organizations')}"><a href="#/configuration/organizations" translate>Organizations</a></li>
                        <li class='divider'></li>
                        <li class='dropdown-header' translate>Scripts</li>
                        <li ng-class="{active: isActive('dtraces')}"><a href='#/configuration/dtraces' translate>DTrace</a></li>
                    </ul>
                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class='dropdown'>
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i ng-show='howlConnected' class='glyphicon glyphicon-user'></i>
                        <i ng-hide='howlConnected' jq-run='tooltip' jq-options="{placement: 'bottom'}" title='No live updates' class='glyphicon glyphicon-ban-circle'></i>
                        {{auth.currentUser().name}}
                        <b class='caret'></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/configuration/users/{{auth.currentUser().uuid}}" translate>My info</a></li>
                        <li ng-class="{active: isActive('about')}"><a href="#/about" translate>About</a></li>
                        <li class="divider"></li>
                        <li><a ng-click='auth.logout()' translate>Logout</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class='dropdown'>
                    <a class="dropdown-toggle" data-toggle='dropdown'>
                        <i class='flag-icon {{lang}}'></i>
                    </a>
                    <ul class="dropdown-menu" role='menu'>
                        <li ng-repeat='lang in languages'>
                            <a ng-click="setLang(lang)">
                                <i class='flag-icon {{lang}}'></i>
                                <span class='capitalize'>&nbsp;&nbsp;{{lang}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>


        </nav>
    </div>

</header>

<ng-include src="'views/partials/breadcrumb.html'"></ng-include>
