<div class="modal-dialog show">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{modal.title || 'Please confirm'}}</h4>
      </div>
      <div class="modal-body" ng-bind-html="modal.body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <!-- Can ng-click='hide();' to hide... -->
        <button type="button" class="btn {{modal.btnClass || 'btn-primary'}}" ng-click="hide(); modal.ok(hide);">
        	{{modal.confirm || 'Confirm' }}
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->