<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="styles/bootstrap.css"/>
    <link rel="stylesheet" href="styles/bootstrap-responsive.css"/>
    <link rel="stylesheet" href="styles/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="styles/jquery.simplecolorpicker.css"/>
    <link rel="stylesheet" href="styles/glyphicons.css"/>
    <link rel="stylesheet" href="styles/main.css"/>

    <link rel="stylesheet" href="scripts/vendor/alertify-0.4.0rc1/themes/alertify.css"/>
    <link rel="stylesheet" href="scripts/vendor/alertify-0.4.0rc1/themes/alertify.bootstrap.css"/>

    <!-- Syntax higlighter -->
    <link rel="stylesheet" href="scripts/vendor/codemirror-3.1/lib/codemirror.css">
    <link rel="stylesheet" href="scripts/vendor/codemirror-3.1/theme/solarized.css">

  </head>
  <body ng-app="fifoApp" class='ng-cloak'>

    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

    <!--[if lt IE 9]>
        <script src="scripts/vendor/es5-shim.min.js"></script>
        <script src="scripts/vendor/json3.min.js"></script>
        <![endif]-->

    <div id='dialog-modal' class="modal hide fade" aria-hidden="false">
      <div class="modal-header"><button type="button" class="close" data-dismiss="modal">x</button><h3>Please confirm</h3></div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <a data-dismiss="modal" class="btn">Cancel</a>
        <a data-dismiss="modal" class="btn btn-primary">Confirm</a>
      </div>
    </div>

    <div id='login-modal' class="modal" ng-show="!loggedUser || !loggedUser.name">
      <form ng-submit="login()" ng-controller='LoginCtrl'>
        <div class="modal-header"><h3><img src="images/PF.png" style="height: 25px;" alt="Project FiFo"> Please sign in</h3></div>
        <div class="modal-body">
          <input ng-model='username' class="input-block-level" type='text' placeholder='Login' autofocus required/>
          <input ng-model='password' class="input-block-level" type='password' placeholder='Password' required/>
        </div>
        <div class="modal-footer">
          <span class='status-{{connectionStatus.ok}}'></span>
          <span ng-show='!connectionStatus.ok' class='pull-left' 'margin-right: 20px'>Not connected {{connectionStatus.services}}</span>
          <button href="#" class="btn btn-primary" type="submit">Ok</button>
        </div>
      </form>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top" id="nav-bar" ng-show="loggedUser && loggedUser.name">
      <div class="navbar-inner">
        <div class="container-fluid">

          <!--<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span></a>
          -->

          <a class="brand" href="#">
            <img src="images/PF.png" style="height: 30px;" alt="Project FiFo"/>
            <img ng-show="loading" style="margin-left: 10px; margin-right: 10px;" src="images/loading.gif"/>
          </a>

          <ul class="nav">
            <h3>{{title}}</h3>
          </ul>

          <ul class='nav' ng-repeat='st in status'>
            <li style='padding-top: 15px; padding-left: 20px; color: white;'>{{st.name}}</li>
            <li class='span2' style='padding-top: 15px; height: 10px' ng-show='st.current'>
              <div class="progress progress-striped active">
                <div class="bar" style="width: {{st.percent}}%;"></div>
              </div>
            </li>
          </ul>

          <div class='btn-toolbar'>
            <div class='btn-group pull-right nav' ng-controller='LoginCtrl'>
              <a href="#" class='btn btn-small dropdown-toggle' data-toggle='dropdown'>
                <i class='icon-user'></i> {{loggedUser.name}}
                <span class="caret"></span>
              </a>
              <ul class='dropdown-menu'>
                <li><a href='#/users/{{loggedUser.uuid}}'>My info</a></li>
                <li><a href='#/about'>About</a></li>
                <li class='divider'></li>
                <li><a href='#' ng-click='logout()'>Logout</a></li>
              </ul>
            </div>
          </div>
          <div class="pull-right" style="padding: 5px; margin-right: 10px;">
            <i ng-show='howlConnected' class="icon-globe" title='Connected with websockets' jq-run='tooltip' jq-options="{placement: 'bottom'}"></i>
            <i ng-hide='howlConnected' class="icon-ban-circle" title='Connected without websockets' jq-run='tooltip' jq-options="{placement: 'bottom'}"> No live updates</i>
          </div>
        </div>
      </div>
    </div>


    <div class='container-fluid' id='ui' ng-show="loggedUser && loggedUser.name">
      <div class="tabs-left">
        <nav-tabs>
          <nav-tab href="#/status" icon="dashboard">Dashboard</nav-tab>
          <nav-tab href="#/virtual-machines" icon="display">Machines</nav-tab>
          <nav-tab href="#/datasets" icon="hdd">Datasets</nav-tab>
          <nav-tab href="#/hypervisors" icon="cloud">Hypervisors</nav-tab>
          <nav-tab href="#/graph" icon="snowflake">CloudView</nav-tab>
          <nav-tab href="#/packages" icon="cargo">Packages</nav-tab>
          <nav-tab href="#/networks" icon="share_alt">Networks</nav-tab>
          <nav-tab href="#/ipranges" icon="share_alt">Ipranges</nav-tab>
          <nav-tab href="#/dtrace" icon="stats">DTrace</nav-tab>
          <nav-tab href="#/users" icon="user">Users</nav-tab>
          <nav-tab href="#/groups" icon="group">Groups</nav-tab>
          <nav-tab href="#/orgs" icon="building">Orgs</nav-tab>
        </nav-tabs>

        <div class='tab-content main-tab-content' style="margin-left:135px">
          <div class='tab-pane active' ng-view></div>
        </div>
      </div>
    </div>

    <footer ng-show="loggedUser && loggedUser.name" style='margin-top: 20px;'>
      <p class="copy">
        &copy; <a href="#/about">Project FiFo</a> 2013</p>
    </footer>

    <script src="scripts/vendor/angular.js"></script>
    <script src="components/angular-modules/resource.js"></script>
    <script src="components/angular-modules/cookies.js"></script>
    <script src="components/jquery/jquery.js"></script>
    <script src="components/bootstrap-js/bootstrap.js"></script>
    <script src="components/moment/moment.js"></script>
    <script src="scripts/vendor/jquery.simplecolorpicker.js"></script>
    <script src="scripts/vendor/jquery.knob.js"></script>
    <script src="scripts/vendor/alertify-0.4.0rc1/alertify.min.js"></script>
    <script src="scripts/vendor/d3.min.js" type="text/javascript"></script>
    <script src="scripts/vendor/msgpack.js" type="text/javascript"></script>
    <script src="scripts/vendor/msgpack.base.js" type="text/javascript"></script>
    <script src="scripts/vendor/msgpack.codec.js" type="text/javascript"></script>

    <!-- Syntax Highliter -->
    <script src="scripts/vendor/codemirror-3.1/lib/codemirror.js"></script>
    <script src="scripts/vendor/codemirror-3.1/mode/dtrace/dtrace.js"></script>

    <!-- Graphing -->
    <script src="scripts/vendor/flotr2.min.js"></script>

    <!-- build:js scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/config.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/status.js"></script>
    <script src="scripts/controllers/virtual-machines.js"></script>
    <script src="scripts/controllers/vm.js"></script>
    <script src="scripts/controllers/dtraces.js"></script>
    <script src="scripts/controllers/dtrace.js"></script>
    <script src="scripts/controllers/new_dtrace.js"></script>
    <script src="scripts/controllers/hypervisors.js"></script>
    <script src="scripts/controllers/hypervisor.js"></script>
    <script src="scripts/controllers/networks.js"></script>
    <script src="scripts/controllers/network.js"></script>
    <script src="scripts/controllers/ipranges.js"></script>
    <script src="scripts/controllers/datasets.js"></script>
    <script src="scripts/controllers/dataset.js"></script>
    <script src="scripts/controllers/packages.js"></script>
    <script src="scripts/controllers/package.js"></script>
    <script src="scripts/controllers/groups.js"></script>
    <script src="scripts/controllers/group.js"></script>
    <script src="scripts/controllers/new_group.js"></script>
    <script src="scripts/controllers/orgs.js"></script>
    <script src="scripts/controllers/org.js"></script>
    <script src="scripts/controllers/new_org.js"></script>
    <script src="scripts/controllers/users.js"></script>
    <script src="scripts/controllers/user.js"></script>
    <script src="scripts/controllers/new_user.js"></script>
    <script src="scripts/controllers/new_vm.js"></script>
    <script src="scripts/controllers/new_package.js"></script>
    <script src="scripts/controllers/new_network.js"></script>
    <script src="scripts/controllers/new_iprange.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/graph.js"></script>
    <script src="scripts/services/wiggle.js"></script>
    <script src="scripts/services/datasetsat.js"></script>
    <script src="scripts/services/howl.js"></script>
    <script src="scripts/services/status.js"></script>
    <script src="scripts/services/modal.js"></script>
    <script src="scripts/services/utils.js"></script>
    <script src="scripts/services/user.js"></script>
    <script src="scripts/services/vm.js"></script>
    <script src="scripts/services/hooks.js"></script>
    <script src="scripts/filters/filters.js"></script>
    <script src="scripts/directives/directives.js"></script>
    <script src="scripts/directives/simplecolorpicker.js"></script>
    <script src="scripts/directives/knob.js"></script>
    <script src="scripts/renderer/heatmap.js"></script>

    <!-- endbuild -->
  </body>
</html>
