<div class="tab-pane" id="groups">
  <div class="row-fluid">
    <div class="span12">
      <h2>About FiFo</h2>
      <hr/>
    </div>
  </div>
  <div class="row-fluid">

    <div class="span7 well" style='font-size: 12px;'>
        <b>Wiggle</b> build: <span class='uuid' id="wiggle-version">{{versions.wiggle}}</span><br/>
        <b>Sniffle</b> build: <span class='uuid' id="sniffle-version">{{versions.sniffle}}</span><br/>
        <b>Snarl</b> build: <span class='uuid' id="snarl-version">{{versions.snarl}}</span><br/>
        <b>Howl</b> build: <span class='uuid' id="howl-version">{{versions.howl}}</span><br/>
    </div>
    <div class="span5 well" ng-show='adjustMessage'><small>{{adjustMessage}}</small></div>

    <div class="span12">
        <p>
            <a style='margin-right: 10px;' href="http://project-fifo.net/">Homepage</a>
            <a style='margin-right: 10px;' href="http://project-fifo.net/display/PF/Administrator%27s+Guide">Administrator's Guide</a>
            <a style='margin-right: 10px;' href="http://jira.project-fifo.net/">Current Issues</a>
            <a style='margin-right: 10px;' href="http://bamboo.project-fifo.net/">Latest builds</a>
        </p>
    </div>
    <div class="span12">
        <iframe src="http://webchat.freenode.net?channels=project-FiFo&uio=d4" width="647" height="400"></iframe>
    </div>

  </div>
</div>
