<div class="tab-pane" id="groups">
  <div class="row-fluid">
    <div class="span12">
      <h2>About FiFo</h2>
      <hr/>
    </div>
  </div>
  <div class="row-fluid">

    <div class="span7 well" style='font-size: 12px;'>
        <b>Wiggle</b> build: <span class='uuid' id="wiggle-version">{{versions.wiggle}}</span><br/>
        <b>Sniffle</b> build: <span class='uuid' id="sniffle-version">{{versions.sniffle}}</span><br/>
        <b>Snarl</b> build: <span class='uuid' id="snarl-version">{{versions.snarl}}</span><br/>
        <b>Howl</b> build: <span class='uuid' id="howl-version">{{versions.howl}}</span><br/>
    </div>
    <div class="span5 well" ng-show='adjustMessage'><small>{{adjustMessage}}</small></div>

    <div class="span12">
        <p>
            <a style='margin-right: 10px;' target='_blank' href="http://project-fifo.net/">
                <i class='icon-home'></i> Homepage</a>
            <a style='margin-right: 10px;' target='_blank' href="http://project-fifo.net/display/PF/Administrator%27s+Guide">
                <i class='icon-book'></i> Administrator's Guide</a>
            <a style='margin-right: 10px;' target='_blank' href="http://jira.project-fifo.net/">
                <i class='icon-warning-sign'></i> Current Issues</a>
            <a style='margin-right: 10px;' target='_blank' href="http://bamboo.project-fifo.net/">
                <i class='icon-eye-open'></i> Latest builds</a>
            <a style='margin-right: 10px;' target='_blank' href="https://groups.google.com/forum/?fromgroups#!forum/project-fifo">
                <i class='icon-envelope'></i> Maling list</a>
            <a href="https://twitter.com/project_fifo" class="twitter-follow-button" data-show-count="false">Follow @project_fifo</a>

        </p>
    </div>



    <div class="span12">
        <iframe src="http://webchat.freenode.net?channels=project-FiFo&uio=d4" width="647" height="400"></iframe>
    </div>

  </div>




</div>
