<div class="tab-pane" id="dashboard">
	
	<div class="row-fluid">
		<div id="ram-usage-container" class="span4" style="text-align: center;">
			<h4 >Allocated Memory</h4>
			<div id="ram-usage" style="width:300px; height:300px"></div>
		</div>

		<div id="arc1-stat-container" class="span4" style="text-align: center;">
			<h4>ARC usage</h4>
			<div id="arc1-stat" style="width:300px; height:300px"></div>
		</div>
		
		<div id="disk-usage-container" class="span4" style="text-align: center;">
			<h4>Disk usage</h4>
			<div id="disk-usage" style="width:300px; height:300px"></div>
		</div>

	</div>
</div>
