<help link="http://project-fifo.net/display/PF/Hypervisors"></help>
<div class="tab-pane" ng-show="hyper.uuid">
  <div class="row-fluid">
    <div class="span8">
      <h3>{{hyper.alias}}</h3>
    </div>
  </div>
  <hr/>

  <div class="tabbable tabs-top">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
      <li><a href="#performance" data-toggle="tab">Performance</a></li>
      <li><a href="#characteristics" data-toggle="tab">Characteristics</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="details">
        <div class="row-fluid">


          <div class="hyperbox">

            <div class="header">
              <i class="icon-lightbulb"></i>
              <span class="badge badge-info">Information</span>
            </div>

            <dl class="dl-horizontal">
              <dt>SmartOS ver</dt>
              <dd>{{hyper.sysinfo["Live Image"]}}</dd>
              <dt>Node uuid</dt>
              <dd>{{hyper.uuid}}</dd>
              <dt>Node name</dt>
              <dd>{{hyper.alias}}</dd>
              <dt>Agent version</dt>
              <dd title="{{hyper.version.split(',')[1]}}" jq-run='tooltip'>{{hyper.version.split(',')[0]}}</dd>
              <dt>Booted</dt>
              <dd jq-run='tooltip' title="{{hyper.sysinfo['Boot Time'] *1000 | date:'medium'}}">{{hyper.sysinfo['Boot Time'] *1000 | fromNow}}</dd>
              <dt>Zpool profile</dt>
              <dd>{{hyper.sysinfo["Zpool Profile"]}}</dd>
            </dl>

          </div>

          <div class="hyperbox">

            <div class="header">
              <i class="icon-tasks"></i>
              <span class="badge badge-info">CPU / Mainboard</span>
            </div>

            <dl class="dl-horizontal">
              <dt>CPU type</dt>
              <dd>{{hyper.sysinfo["CPU Type"]}}</dd>
              <dt>Cores</dt>
              <dd>{{hyper.sysinfo["CPU Total Cores"]}} ({{hyper.sysinfo["CPU Physical Cores"]}} cpus)</dd>
              <dt>Capability</dt>
              <dd>{{hyper.virtualisation.join(", ")}}</dd>
              <dt>Mainboard</dt>
              <dd>{{hyper.sysinfo["Product"]}}</dd>
              <dt>Manufacturer</dt>
              <dd>{{hyper.sysinfo["Manufacturer"]}}</dd>
              <dt ng-show='hyper.sysinfo["Serial Number"]'>Serial</dt>
              <dd ng-show='hyper.sysinfo["Serial Number"]'>{{hyper.sysinfo["Serial Number"]  | orDefault:'-'}}</dd>
            </dl>
          </div>

          <div class="hyperbox">

            <div class="header">
              <i class="icon-beaker"></i>
              <span class="badge badge-info">Memory</span>
            </div>

            <dl class="dl-horizontal">
              <dt>Total</dt>
              <dd>{{hyper.resources["total-memory"] | Mbytes}}</dd>
              <dt>Provisioned</dt>
              <dd>{{hyper.resources["provisioned-memory"] | Mbytes}}</dd>
              <dt>Free</dt>
              <dd>{{hyper.resources["free-memory"] | Mbytes}}</dd>
              <dt>L1 Size</dt>
              <dd>{{hyper.resources["l1size"] | Mbytes}}</dd>
              <dt>L1 Arc hit %</dt>
              <dd>{{(hyper.resources["l1hits"]*100/(hyper.resources["l1hits"] + hyper.resources["l1miss"])).toFixed(2)}}%</dd>
              <dt ng-show='hyper.resources["l2size"]'>L2 Size</dt>
              <dd ng-show='hyper.resources["l2size"]'>{{hyper.resources["l2size"] | Mbytes  | orDefault:'-'}}</dd>
              <dt ng-show='hyper.resources["l2size"]'>L2 Arc hit %</dt>
              <dd ng-show='hyper.resources["l2size"]'>{{(hyper.resources["l2hits"]*100/(hyper.resources["l1hits"] + hyper.resources["l2miss"])).toFixed(2) | orDefault:'-'}}%</dd>
            </dl>
          </div>

          <div class="hyperbox">

            <div class="header">
              <i class="icon-hdd"></i>
              <span class="badge badge-info">Storage</span>
            </div>

            <dl class="dl-horizontal" ng-repeat='(name, data) in hyper.pools'>
              <dt>Pool</dt>
              <dd>{{name}} ({{data.health}})</dd>
              <dt>ZFS size</dt>
              <dd>{{data.size | Mbytes}}</dd>
              <dt>ZFS used</dt>
              <dd>{{data.used | Mbytes}}</dd>
              <dt>ZFS free</dt>
              <dd>{{data.free | Mbytes}}</dd>

            </dl>

            <a class="accordion-toggle" data-toggle="collapse" href="#disks">
              Disks
            </a>
            <dl class='dl-horizontal collapse' id='disks'>
              <span ng-repeat='(disk, data) in hyper.sysinfo.Disks'>
                <dt>{{disk}}</dt>
                <dd>{{data['Size in GB'] | Gbytes}}</dd>
              </span>
            </dl>

          </div>

          <div class="hyperbox">
            <div class="header">
              <i class="icon-signal"></i>
              <span class="badge badge-info">Networks</span>
            </div>

            <dl class="dl-horizontal">
              <dt>Main IP</dt>
              <dd><a href="ssh://root@{{hyper.host}}">{{hyper.host}}</a></dd>
              <dt>Network tags</dt>
              <dd>{{hyper.networks.join(", ")}}</dd>
            </dl>

            <dl class="dl-horizontal" ng-repeat="(iface, data) in hyper.sysinfo['Network Interfaces']">
              <dt>NIC {{$index + 1}}</dt>
              <dd>{{iface}}</dd>
              <dt ng-show="data.ip4addr">IP</dt>
              <dd ng-show="data.ip4addr">{{data.ip4addr}}</dd>
              <dt>Mac</dt>
              <dd>{{data['MAC Address']}}</dd>
              <dt ng-show="data['NIC Names'].length>0">tags</dt>
              <dd ng-show="data['NIC Names'].length>0">{{data['NIC Names'].join(', ')}}</dd>
            </dl>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="performance">
        <div class="row-fluid">

          <div class="perfbox pull-left">
            <div class="header">
              <i class="icon-tasks"></i>
              <span class="badge badge-info">CPU Load</span>
            </div>
            <div id="cpuusage" class="metric"></div>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="characteristics">
        <p>
          Characteristics can be used when <a href="#/packages/new">creating packages</a>.
          <button class="btn btn-success pull-right" ng-click="add()">+</button>
        </p>
        <br/>
        <table ng-hide="characteristics.length<1" class="table table-bordered">
          <!--<tr>
              <th>Name</th>
              <th>Value</th>
              <th style='width: 40px;'></th>
          </tr>-->
          <tr ng-repeat='ch in characteristics'>
            <th>{{ch.name}}</th>
            <td><input type='text' class='span7' ng-model='ch.value'/></td>
            <td style='width: 40px;'><button class='btn btn-danger pull-right' ng-click='del(ch.name, $index)'>-</button></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
