          <div class="tab-pane" id="hypervisors">
            <div class="row-fluid">
              <div class="span12">
                <table class="table table-condensed table-hover">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>IPv4</th>
                      <th class='align-right'>Booted</th>                      
                      <th class='nowrap'>Agent ver</th>
                      <th class='align-right'>Ram</th>
                      <th class='align-right'>Free</th>
                      <th>Networks</th>
                      <th>Capabilities</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="hyper in hypervisors">
                      <td class='nowrap' title='View hypervisor {{hyper.name}}' jq-run='tooltip'><a href="#/hypervisors/{{hyper.name}}">{{hyper.name}}</a></td>                                        
                      <td class='nowrap'>{{hyper.host}}</td>
                      <td class='align-right memory nowrap' jq-run='tooltip' title="{{hyper.sysinfo['Boot Time'] *1000 | date:'medium'}}">{{hyper.sysinfo['Boot Time'] *1000 | fromNow}}</td> 
                      <td class='nowrap'><small>{{hyper['version'].split(',')[0]}}</small></td>
                      <td class='align-right memory'>{{hyper.resources['total-memory']}} MB</td>
                      <td class='align-right memory'>{{hyper.resources['free-memory']}} MB</td>
                      <td>{{hyper.networks.join(', ')}}</td>
                      <td>{{hyper.virtualisation.join(', ')}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
