<div class="tab-pane" id="ipranges">
  <div class="pane-nav">
    <a style="float: right; margin-left: 20px;" href="#/configuration/ip-ranges/new" class="btn btn-primary" translate>
      New IP Range
    </a>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th translate>Name</th>
            <th translate>Tag</th>
            <th translate>Iprange</th>
            <th translate>Netmask</th>
            <th translate>Gateway</th>
            <th translate>First</th>
            <th translate>Last</th>
            <th translate>Next</th>
            <th translate>VLan</th>
            <th translate>Returned</th>
            <th class="span1" translate>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="net in ipranges | hash2array | orderBy: 'name'">
            <td><strong>{{net.name}}</strong></td>
            <td>{{net.tag}}</td>
            <td>{{net.network}}</td>
            <td>{{net.netmask}}</td>
            <td>{{net.gateway}}</td>
            <td>{{net.first}}</td>
            <td>{{net.last}}</td>
            <td ng-show='net.full' class='text-error'>full</td>
            <td ng-hide='net.full'>{{net.current}}</td>
            <td>{{net.vlan}}</td>
            <td>{{net.free.length}}</td>
            <td>
              <i ng-click="delete(net)" jq-run='tooltip' title="Delete" class="glyphicon glyphicon-remove clickable" bs-modal="'views/partials/modal-confirm.html'"></i>
            </td>
          <tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
