          <div class="tab-pane" id="networks">
            <div class="row-fluid">
              <div class="span12">
                <h2>Networks<a style="float: right" href="#" class="btn-success btn">+</a></h2>
                <hr/>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span12">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Tag</th>
                      <th>Subnet</th>
                      <th>Gateway</th>
                      <th>Netmask</th>
                      <th>First</th>
                      <th>Next</th>
                      <th>Last</th>
                      <th>Returned</th>
                      <th class="span1">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat='net in networks'>
                        <td>{{net.name}}</td>
                        <td>{{net.tag}}</td>
                        <td>{{net.network}}</td>
                        <td>{{net.gateway}}</td>
                        <td>{{net.netmask}}</td>
                        <td>{{net.first}}</td>
                        <td>{{net.current}}</td>
                        <td>{{net.last}}</td>
                        <td>{{net.free.length}}</td>
                        <td>
                            <i ng-click="delete(this)" jq-run='tooltip' title="delete" class="icon-remove-sign clickable"></i>
                        </td>
                      <tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>