<help link="http://project-fifo.net/display/PF/Packages"></help>
<div class="row-fluid">
  <div class="span10 alert alert-info">
    Create a package called: <input class='span6' style='margin-left: 8px;' type=text ng-model='name' autofocus>
  </div>
  <div class="span1">
    <button class='btn btn-success' ng-disabled='form.$invalid || !name' ng-click='create_package()'>Create</button>
  </div>

  <div class="span3 box">
    <div class="header">
      <i class="icon-tasks"></i>
      <span class="badge badge-info">Resources</span>
    </div>
    <form name='form' novalidate>
      <div class="input-append">
        <input class='input span10' style='width: 85%;' placeholder="CPU" type="number" min="1" ng-model='cpu_cap' required>
        <span class="add-on">%</span>
      </div>

      <div class="input-append">
        <input class='input-small span10' style='width: 85%;' placeholder="RAM" type="number" min="1" ng-model='ram' required>
        <span class="add-on">MB</span>
      </div>
      <div class="input-append">
        <input class='input-small span10' style='width: 85%;' placeholder="Disk" type="number" min="0" ng-model='quota' required>
        <span class="add-on">GB</span>
      </div>
    </form>
  </div>

  <div class="span7">

    <div ng-repeat='rule in rules' ng-class="rule.error && 'rule-error'" class='thumbnail'>
      <div class="span11">
        Rule {{$index+1}}
      </div>

      <select class='span3' title='Weight' jq-run='tooltip' ng-model='rule.weight' 
        ng-options='d.value group by d.group for d in weightOptions'>
      </select>

      <typeahead 
        class="span8"
        placeholder='Key' 
        title='Attribute' jq-run='tooltip'
        ng-model="rule.attribute"
        data-items='10'
        data-source='attributeOptions'
        show="rule.weight.value != 'random'"
      ></typeahead>

      <select ng-hide="rule.weight.group == 'Special'"
        class='span3' title='Condition' jq-run='tooltip' ng-model='rule.condition' 
        ng-options='d for d in conditionOptions'>
      </select>

      <input ng-hide="rule.weight.group == 'Special'"
        class="span8" title='Value' jq-run='tooltip' placeholder="Value" type="text"  ng-model="rule.value"/>

      <!-- show this div to tab the low&high when scale is selected -->
      <div ng-show="rule.weight.value == 'scale'" class='span3'></div>

      <input ng-show='rule.weight.group=="Special"' 
        class="span4" type='number' min='0' title='Low' jq-run='tooltip' placeholder="Low" type="text" ng-model="rule.low"/>
      <input ng-show='rule.weight.group=="Special"' 
        class="span4" type='number' min='1' title='High' jq-run='tooltip' placeholder="High" type="text" ng-model="rule.high"/>
      
      <button class="btn btn-small btn-danger pull-right" 
        title='Remove rule {{$index+1}}' jq-run='tooltip' ng-click="rm_rule($index)">-</button>

    </div>

    <br/>

    <button class="btn btn-small btn-success pull-right" ng-click="add_rule()">+</button>
  </div>
  <center class='span12'>
    The rules are optional, they help FiFo decide wich hypervisor to use. <a href="http://project-fifo.net/display/PF/Hypervisor+Requirements" target=_blank>More info</a>
  </center>
</div>
