<div class="row-fluid">
  <div class="span10 alert alert-info">
    Create a script called: <input class='span6' style='margin-left: 8px;' type=text ng-model='name' autofocus>
  </div>
  <div class="span1">
    <button class='btn btn-success' ng-disabled='form.$invalid || !name' ng-click='create_dtrace()'>Create!</button>
  </div>

  <div class="span8 box">
    <div class="header">
      <i class="icon-tasks"></i>
      <span class="badge badge-info">Script</span>
    </div>
    <textarea ng-model="script" class="input-block-level" rows="20" ng-change="script_change()"></textarea>
  </div>

  <div class="span3 box">
    <div class="header">
      <i class="icon-tasks"></i>
      <span class="badge badge-info">Variables</span>
    </div>

    <div ng-repeat='variable in variables' ng-class="rule.error && 'error'" class='thumbnail2'>
      <input
         class="span5"
         placeholder="Variable"
         type="text"
         title='Attribute' jq-run='tooltip'
         ng-model="variable.name"
         />
      <input class="span5" title='Value' jq-run='tooltip' placeholder="Value" type="text" ng-model="variable.value"/>
      <button class="btn btn-small btn-danger pull-right" title='Remove rule {{$index+1}}' jq-run='tooltip' ng-click="rm_var($index)">-</button>
    </div>

    <br/>

    <button class="btn btn-small btn-success pull-right" ng-click="add_var()">+</button>
  </div>
  <hr/>
  <center class='span12'>
    The variables are optional, they help FiFo decide wich hypervisor to use. <a href="http://project-fifo.net/display/PF/Hypervisor+Requirements" target=_blank>More info</a>
  </center>
</div>
