<div class="row-fluid">
  <div class="span10">
    <div class="alert alert-info">
      Create a new user called: <input class='input-large' style='margin-left: 8px;' type=text ng-model='name' autofocus>.
    </div>
  </div>

  <div class="span5 thumbnail">
    <div class="form-horizontal1">
      <div class="control-pass">
        <label class="control-plabel" for="user-pass2"> &nbsp; New Password</label>
        <input class="valid input-medium" style='margin-left: 8px;' id="user-pass1" type="password" ng-model='pass1' ng:validate="integer"/></input>
      </div>
      <div class="control-pass">
        <label class="control-plabel" for="user-pass1"> &nbsp; Confirm New Password</label>
        <input class="valid input-medium" style='margin-left: 8px;' id="user-pass2" type="password" ng-model='pass2' ng:validate="integer"></input>
        <button class='btn btn-small btn-success pull-right' ng-show='name && pass1 && (pass1 == pass2)' ng-click='create_user()'>Create</button>
      </div>
    </div>
  </div>
</div>
