<div class="row-fluid">
	<div class="span12">
		<h2>Create a new Machine</h2>
		<hr/>
	</div>

	<div class="span10">
		<div class="alert alert-info">
			Create a <strong>{{selectedPackage.name}}</strong>
			machine <strong>{{selectedDataset.name && 'with ' + selectedDataset.name}}</strong>
			called: <input class='input-large' style='margin-left: 8px;' type=text ng-model='alias' autofocus>
		</div>
	</div>

	<button class='btn btn-success pull-right' ng-show='alias && selectedDataset && selectedPackage' ng-click='create_machine()'>Create!</button>

	<div class="span5">
		<div class="thumbnail">
			<!--<div class="caption">
				<h5>Select a dataset:</h5>
			</div>-->
			<table class="table table-hover small">
				<tr class='small'>
					<th></th>
					<th>Dataset</th>
					<th>Version</th>
				</tr>
				<tr class='clickable'
					ng-repeat="d in datasets | orderBy: ['os', 'name', '-version']"
					ng-click='click_dataset(d)'
					ng-class="selectedDataset.dataset==d.dataset && 'success'">
					<td><img jq-run='tooltip' ng-src="images/logos/{{d.os || 'unknown'}}.png" class='oslogo' /></td>
					<td class='nowrap'><strong title='{{d.description}}' jq-run='tooltip'>{{d.name}}</strong></td>
					<td>{{d.version}}</td>
				</tr>
			</table>

		</div>
	</div>
	<div class="span5">
		<div class="thumbnail">
			<table class="table table-hover small">
				<tr class='small'>
					<th></th>
					<th>CPU</th>
					<th>Memory</th>
					<th>Disk</th>
				</tr>
				<tr class='clickable' ng-repeat='p in packages' ng-click='click_package(p)' ng-class="selectedPackage.name==p.name && 'success'">
					<td><strong>{{p.name}}</strong></td>
					<td>{{p.cpu_cap}}</td>
					<td>{{p.ram | Mbytes}}</td>
					<td>{{p.quota | Gbytes}}</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="span5">
		<div class="thumbnail">
			<table class="table table-hover small">
				<tr class='small'>
					<th></th>
					<th>Network</th>
					<th>Next avail IP</th>
				</tr>
				<tr class='clickable' ng-repeat='n in networks' ng-click='click_network(n)' ng-class="selectedNetworks.indexOf(n)>-1 && 'success'">
					<td><strong>{{n.name}}</strong></td>
					<td>{{n.network}} / {{n.netmask}}</td>
					<td>{{n.current}}</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="span5">
		<div class="thumbnail">
            <div class="accordion" id="optional">
              <div class="accordion-groupp">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#optional" href="#toggleOptions">
                    Optional parameters
                  </a>
                <div id="toggleOptions" class="collapse">
                  <div class="accordion-inner">
                    <table class="table table-hover small">
                        <tr class='small'>
                            <th class='nowrap'>Root password</th>
                            <td><input type=text ng-model='root_pw'/></td>
                        </tr>
                        <tr class='small'>
                            <th class='nowrap'>Admin password</th>
                            <td><input type=text ng-model='admin_pw'/></td>
                        </tr>
                        <tr class='small'>
                            <th class='nowrap'>Hostname</th>
                            <td><input type=text ng-model='hostname'/></td>
                        </tr>
                        <tr class='small'>
                            <th class='nowrap'>Resolver 1</th>
                            <td><input type=text ng-model='resolver1'/></td>
                        </tr>
                        <tr class='small'>
                            <th class='nowrap'>Resolver 2</th>
                            <td><input type=text ng-model='resolver2'/></td>
                        </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>

		</div>
	</div>

</div>
