<div class="row-fluid">
  <div class="span12">
    <h2>Create a new Package</h2>
    <hr/>
  </div>

  <div class="span10">
    <div class="alert alert-info">
      Create a user called: <input class='input-large' style='margin-left: 8px;' type=text ng-model='name' autofocus>.
    </div>
  </div>


  <button class='btn btn-success pull-right' ng-show='name && pass1 && (pass1 == pass2)' ng-click='create_user()'>Create!</button>

  <div class="span5 thumbnail">
    <div class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="user-pass2">Password &nbsp;</label>
        <input style='margin-left: 8px;' id="user-pass1" type="password" ng-model='pass1' ng:validate="integer"/></input>
      </div>
      <div class="control-group">
        <label class="control-label" for="user-pass1">Password (confirm) &nbsp;</label>
        <input style='margin-left: 8px;' id="user-pass2" type="password" ng-model='pass2' ng:validate="integer"></input>
      </div>
    </div>
  </div>
</div>
