<help link="http://project-fifo.net/display/PF/Orgs"></help>
<div class="tab-pane" ng-show='org.uuid'>
  <div class="row-fluid">
    <div class="span8">
      <h3>{{org.name}}</h3>
    </div>
    <div class='span4'>
      <div class="btn-toolbar btn-org pull-right">

        <div class="btn-org">
          <button ng-click="delete()" class="btn" title='Delete' jq-run='tooltip'>
            <i class='icon-trash'></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <hr/>

  <table class='table table-bordered'>
    <tr><th>Name</th><td><b>{{org.name}}</b></td></tr>
    <tr><th>UUID</th><td><b>{{org.uuid}}</b></td></tr>
  </table>
  <div class="box">
    <div class="header">Automatic grants on VM creation</div>
    <select ng-model="grant_group">
      <option ng-repeat="grp in groups | hash2array" value="{{grp.uuid}}">{{grp.name}}</option>
    </select>
    <select ng-model="permission">
      <option value="get">See</option>
      <option value="start">Start</option>
      <option value="stop">Stop</option>
      <option value="reboot">Reboot</option>
      <option value="delete">Delete</option>
      <option value="console">Console/VNC</option>
      <option value="snapshot">Create a Snapshot</option>
      <option value="rollback">Rollback a Snapshot</option>
      <option value="delete_snapshot">Delete a Snapshot</option>
    </select>
    <button ng-click="add_grant_trigger()">Add trigger</button>

    <table class='table table-bordered'>
      <tr>
        <th>Group</th>
        <th>Template</th>
        <th>Actions</th>
      </tr>
      <tr ng-repeat="trigger in grant_triggers">
        <td>{{(groups[trigger.target] ||
          {name: "DELETED"}).name}}({{trigger.target}})</td>
        <td>{{trigger.permission.join("->")}}</td>
        <td><a ng-click="delete_grant_trigger(trigger)">delete</a>
        </td>
      </tr>
    </table>
  </div>
  <div class="box">
    <div class="header">Automatic joins on user creation</div>
    Group: <select ng-model="join_group">
      <option ng-repeat="grp in groups | hash2array" value="{{grp.uuid}}">{{grp.name}}</option>
    </select>
    <button ng-click="add_group_join_trigger()">Add trigger</button></br>
    Organisation: <select ng-model="join_org">
      <option ng-repeat="org in orgs | hash2array" value="{{org.uuid}}">{{org.name}}</option>
    </select>
    <button ng-click="add_org_join_trigger()">Add trigger</button></br>
    <table class='table table-bordered'>
      <tr>
        <th>Org/Group</th>
        <th>Actions</th>
      </tr>
      <tr ng-repeat="trigger in join_triggers">
        <td>{{(orgs[trigger.target] ||
          groups[trigger.target] ||
          {name: "DELETED"}).name}}({{trigger.target}})</td>
        <td><a ng-click="delete_join_trigger(trigger)">delete</a>
        </td>
      </tr>
    </table>
  </div>
</div>
