<help link="http://project-fifo.net/display/PF/Orgs"></help>
<div class="tab-pane" id="orgs">
  <div class="pane-nav">
    <a href="#/orgs/new" class="btn btn-small btn-info">
      <i class="icon-white"></i><strong>add org</strong>
    </a>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="g in orgs">
            <td><a href="#/orgs/{{g.uuid}}">{{g.name}}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
