<div class="tab-pane" id="packages">
  <div class="pane-nav">
    <a href="#/configuration/packages/new" class="btn btn-primary">
       New Package
    </a>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Ram</th>
            <th>Disk</th>
            <th>CPU Cap</th>
            <th class="span1">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="pack in packages | hash2array| orderBy: ['ram', 'name']">
            <td><a href="#/configuration/packages/{{pack.uuid}}">{{pack.name}}</a></td>
            <td>{{pack.ram | Mbytes}}</td>
            <td>{{pack.quota | Gbytes}}</td>
            <td>{{pack.cpu_cap}}</td>
            <td>
              <i ng-click="delete(this)" jq-run='tooltip' title="Delete" class="glyphicon glyphicon-remove clickable" bs-modal="'views/partials/modal-confirm.html'"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
