  <div class="col-md-12 alert alert-info">
    <span translate>Create a package called</span>: 
    <input class='span6' style='margin-left: 8px;' type=text ng-model='name' autofocus>
    <button class='btn btn-success pull-right' ng-disabled='form.$invalid || !name' ng-click='create_package()' translate>Create</button>
  </div>

  <div class="col-md-3 box">
    <div class="header">
      <i class="icon-tasks"></i>
      <span class="badge badge-info" translate>Resources</span>
    </div>
    <form name='form form-inline' novalidate>
      <div class="input-group">
        <input class='form-control' placeholder="CPU" type="number" min="1" ng-model='cpu_cap' required>
        <span class="input-group-addon" style='max-width: 40px'>&nbsp;%</span>
      </div>

      <div class="input-group ">
        <input class='form-control' placeholder="RAM" type="number" min="1" ng-model='ram' required>
        <span class="input-group-addon" style='max-width: 40px'>MB</span>
      </div>
      <div class="input-group">
        <input class='form-control' placeholder="Disk" type="number" min="0" ng-model='quota' required>
        <span class="input-group-addon" style='max-width: 40px'>GB</span>
      </div>
      <div class="input-group">
        <input class='form-control' placeholder="IO Priority" type="number" min="0" ng-model='io' required>
        <span class="input-group-addon" style='max-width: 40px'>IO</span>
      </div>
    </form>
  </div>

  <div class="col-md-8">
    <rule ng-model='rules'/>
  </div>
  <div class='container row'>
    The rules are optional, they help FiFo decide wich hypervisor to use. <a href="http://project-fifo.net/display/PF/Hypervisor+Requirements" target=_blank>More info</a>
    <br/>
    IO Priority is optional
  </div>