<div class="tab-pane" ng-show="true">

    <div class="box box-small span4">
        <div class="header">
            Package <span class='badge badge-info'>{{package.name}}</span>
        </div>
        <package pkg='package'></package>
    </div>

    <div class="box span6" ng-show='package.requirements.length > 0'>
        <div class="header">Rules</div>
        <table class='span5'>
            <tr class='small'>
                <th>Weight</th>
                <th>Attribute</th>
                <th>Condition</th>
                <th>Value</th>
            </tr>
            <tr ng-repeat='req in package.requirements'>
                <td class='light center'>{{req.weight}}</td>
                <td class='center'>{{req.attribute}}</td>
                <td class='center'>{{req.condition}}</td>
                <th>{{req.value}}</td>
            </tr>
        </table>
    </div>

</div>