          <div class="tab-pane" id="packages">
            <div class="row-fluid">
              <div class="span12">
                <h2>Packages
              	  <a style="float: right; margin-left: 20px;" href="#/packages/new" class="btn btn-inverse">
              	    <i class="icon-white icon-plus"></i> New
              	  </a>
                </h2>
                <hr/>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span12">
                <table class="table table-condensed table-hover">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Ram</th>
                      <th>Disk</th>
                      <th>CPU Cap</th>
                      <th class="span1">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="pack in packages | hash2array| orderBy: 'ram'">
                        <td><a href="#/package/{{pack.uuid}}">{{pack.name}}</a></td>
                        <td>{{pack.ram | Mbytes}}</td>
                        <td>{{pack.quota | Gbytes}}</td>
                        <td>{{pack.cpu_cap}}</td>
                        <td>
                            <i ng-click="delete(this)" jq-run='tooltip' title="delete" class="icon-remove-sign clickable"></i>
                        </td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
