
<div class="tab-pane" id="users">
  <div class="pane-nav">
      <a style="float: right; margin-left: 20px;" href="#/users/new" class="btn btn-inverse">
        <i class="icon-white icon-plus"></i> New
      </a>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Groups</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='u in users'>
            <td><a href="#/users/{{u.uuid}}">{{u.name}}</a></td>
            <td>{{u.groups.join(', ')}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
