          <div class="tab-pane" id="virtual-machines">
            <div class="row-fluid">
              <div class="span12">
              	<h2>Virtual Machines
              		<a title='Create a new Machine' jq-run='tooltip' style="float: right; margin-left: 20px;" href="#/virtual-machines/new" class="btn btn-inverse">
              			<i class="icon-white icon-plus"></i> New
              		</a>
                    <column-selector class='hidden' id='popupContent'>
                    </column-selector>
                    <button
                        title='Show the following columns'
                        jq-run='popover' jq-options="{placement: 'bottom', content: showPopupContent}"
                        style='float: right; margin-left: 20px;'
                        class='btn btn-info'>
                        <i class='icon-white icon-list'></i>
                    </button>
              		<input style="float: right" type="text" class="search-query span3" placeholder='Filter' ng-model='searchQuery'>
              	</h2>
                <hr/>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span12">
                <table class="table table-condensed table-hover">
                  <thead>
                    <tr>
                        <th ng-repeat='col in columns'
                            ng-click="col.field && order(col.field, $event)"
                            ng-class="col.field && orderStyle(col.field)"
                            ng-show="col.visible">
                                {{col.name == 'Actions' && ' ' || col.name}}
                        </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr style="background-color: {{vm.mdata('color')}}" ng-repeat="vm in vms | hash2array | filter:searchQuery | orderBy: orderField">
                      <td ng-show="columns[0].visible" title="<span class=uuid>{{vm.uuid}}</div>" jq-run='tooltip' class='uuid nowrap' >
                        <a href='#/virtual-machines/{{vm.uuid}}'>{{vm._name}}</a>
                      </td>
                      <td ng-show="columns[1].visible">{{vm.mdata('description')}}</td>
                      <td ng-show="columns[2].visible"
                            title='{{vm.config._dataset.description}}'
                            class='nowrap'
                            jq-run='tooltip'>
                            <img ng-src="images/logos/{{vm.config._dataset.os || 'unknown'}}.png" onerror='images/logos/unknown.png' class='oslogo'>
                            {{vm.config._dataset.name}} {{vm.config._dataset.version && '(' + vm.config._dataset.version + ')'}}
                      </td>
                      <td ng-show="columns[3].visible">{{vm._ips}}</td>
                      <td ng-show="columns[4].visible">{{vm._package.name}}</td>
                      <td class='memory'ng-show="columns[5].visible">{{vm.config.ram | Mbytes}}</td>
                      <td ng-show="columns[6].visible" jq-run='tooltip' title="{{vm._cpu_tooltip}}">{{vm._cpu}}</td>
                      <td ng-show="columns[7].visible">{{vm.hypervisor}}</td>
                      <td ng-show="columns[8].visible" jq-run='tooltip' title="{{vm.config.created_at | date:'medium'}}" class='light nowrap'>{{vm.config.created_at | fromNow}}</td>
                      </td>
                      <td ng-show="columns[9].visible">
                        <span class='label label-{{vm._state_label}}'>{{vm.state}}</span>
                      </td>
                      <td ng-show="columns[10].visible">
                        <i ng-click="vnc(this.vm)" jq-run="tooltip" title="vnc"
                           ng-show="vm.config && (vm.config.type == 'kvm') && (vm.state == 'running')"
                           class="icon-desktop clickable"></i>

                        <i ng-click="console(this.vm)" jq-run="tooltip" title="Console"
                           ng-show="vm.config && (vm.config.type != 'kvm') && (vm.state == 'running')"
                           class="icon-desktop clickable"></i>

                        <i ng-click="action('start', this.vm)" jq-run="tooltip" title="Start"
                           ng-hide="vm.state!='stopped'"
                           class="icon-play clickable"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
