          <div class="tab-pane" id="virtual-machines">
            <div class="row-fluid">
              <div class="span12">
              	<h2>Virtual Machines
              		<a style="float: right; margin-left: 20px;" href="#/virtual-machines/new" class="btn btn-inverse">
              			<i class="icon-white icon-plus"></i> New
              		</a>
              		<input style="float: right" type="text" class="search-query" placeholder='Search' ng-model='searchQuery'>
              	</h2>
                <hr/>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span12">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <!-- ok, maybe i should build an array of the headers to not repeate this much... or maybe there is a better way, like http://jsfiddle.net/Xanetia/Azhg7/asadas? -->
                      <th class="clickable {{orderField.indexOf('config._name') > -1 && 'sorted-down' || ''}}" ng-click="orderField='config._name'">Name</th>
                      <th class="clickable {{orderField.indexOf('_ips') > -1 && 'sorted-down' || ''}}"         ng-click="orderField='_ips'">IPs</th>
                      <th class="clickable {{orderField.indexOf('config.dataset') > -1 && 'sorted-down' || ''}}"      ng-click="orderField='config.dataset'">Dataset</th>
                      <th class="clickable {{orderField.indexOf('config.ram') > -1 && 'sorted-down' || ''}}"   ng-click="orderField='config.ram'">Memory</th>
                      <th class="clickable {{orderField.indexOf('_cpu') > -1 && 'sorted-down' || ''}}"         ng-click="orderField='_cpu'">CPU</th>
                      <th class="clickable {{orderField.indexOf('hypervisor') > -1 && 'sorted-down' || ''}}"   ng-click="orderField='hypervisor'">Hypevisor</th>
                      <th class="clickable {{orderField.indexOf('state') > -1 && 'sorted-down' || ''}}"        ng-click="orderField='state'">State</th>
                      <!-- <th class="span2">Actions</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="vm in vms | hash2array | filter:searchQuery | orderBy: orderField">
                      <td title='<span class=uuid>{{vm.uuid}}</div>' jq-run='tooltip' class='uuid' ><a href='#/virtual-machines/{{vm.uuid}}'>{{vm._name}}</a></td>
                      <td>{{vm._ips}}</td>
                      <td>{{vm.config.dataset.split('-')[0]}}</td>
                      <td>{{vm.config.ram && vm.config.ram + 'MB' || ''}}</td>
                      <td jq-run='tooltip' title="{{vm._cpu_tooltip}}">{{vm._cpu}}</td>
                      <td>{{vm.hypervisor}}</td>
                      <td>
                        <span class='label label-{{vm._state_label}}'>{{vm.state}}</span>
                      </td>
                      <!--<td id='vm_actions'>
                    <i ng-click="action('start', this)"  jq-run='tooltip' title="start" class="icon-play-circle clickable"></i>
                    <i ng-click="action('stop', this)"   jq-run='tooltip' title="stop" class="icon-off clickable"></i>
                    <i ng-click="action('reboot', this)" jq-run='tooltip' title="reboot" class="icon-refresh clickable"></i>
                    <i ng-click="action('delete', this)" jq-run='tooltip' title="delete" class="icon-remove-sign clickable"></i>
                      </td>-->
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>