<div class="tab-pane" ng-show='vm.uuid'>

    <div class="row-fluid">
        <div class="span8">
            <h3>Machine {{vm._name}}
                <span style='font-size: 0.5em; padding: 5px 10px 10px 8px; margin-left: 10px; height: 10px;' class='label label-{{vm._state_label}}'>{{vm.state}}</span>
            </h3>
        </div>
        <div class='span4'>
            <div class="btn-toolbar btn-group pull-right">
                <div class="btn-group" style="margin-right: 30px;">
                    <button
                        ng-click='vnc(vm)'
                        ng-show="vm.config && (vm.config.type == 'kvm') && vm.state=='running'"
                        title='vnc'
                        jq-run='tooltip'
                        class="btn">
                        <i class='icon-eye-open'></i>
                    </button>
                    <button
                        ng-click='console(vm)'
                        ng-show="vm.config && (vm.config.type != 'kvm') && vm.state=='running'"
                        title='console'
                        jq-run='tooltip'
                        class="btn">
                        <i class='icon-eye-open'></i>
                    </button>

                </div>

                <div class="btn-group">
                    <button ng-click="action('start', vm)"  ng-disabled="vm.state!='stopped' || vm.mdata('locked')"
                            class="btn btn-success">
                        <i class='icon-play'></i>
                    </button>
                    <button ng-click="action('reboot', vm)" ng-disabled="vm.state!='running' || vm.mdata('locked')"
                            class="btn">
                        <i class='icon-refresh'></i>
                    </button>
                    <button ng-click="action('stop', vm)" ng-disabled="vm.state!='running' || vm.mdata('locked')"
                            class="btn btn-warning">
                        <i class='icon-stop'></i>
                    </button>
                    <button ng-click="lock()" class="small btn">
                        <i class='icon-lock'></i>
                    </button>

                </div>

                <div class="btn-group" ng-show="vm.state!='running'&&vm.state!='booting'&&vm.state!='shutting_down'">
                    <button ng-click="action('delete', vm)" ng-disabled="vm.mdata('locked')" class="btn" title='Delete' jq-run='tooltip'>
                        <i class='icon-trash'></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr/>

<span ng-hide='vm.config'>
    <p><font color="red">Something is wrong with this machine.</font></p>
    <p>UUID: {{vm.uuid}}</p>
    <p>
        <strong>History</strong>
        <table class="table">
            <tr ng-repeat="log in vm.log | orderBy: '-date' ">
                <td>{{log.log}}</td>
                <td class='nowrap light' title="{{log.date/1000 | date:'medium'}}" jq-run='tooltip'>{{log.date/1000 | fromNow}}</td>
            </tr>
        </table>
    </p>
</span>

<div class="tabbable tabs-top" ng-show='vm.config'>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
    <li><a href="#history" data-toggle="tab">History</a></li>
    <li><a href="#snapshots" data-toggle="tab">Snapshots</a></li>
    <li><a href="#resize" data-toggle="tab">Resize</a></li>

    <!-- <li><a href="#tab2" data-toggle="tab">Notes</a></li>
    <li><a href="#tab2" data-toggle="tab">Performance</a></li>
    -->
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="details">
    <div class='box'>
        <div class='header'>
            <i class="icon-hand-right"></i> Machine {{vm.config.alias}}<br/>
        </div>
       <span>
        Created <span jq-run='tooltip' title="{{vm.config.created_at | date:'medium'}}">{{vm.config.created_at | fromNow}}</span><br/>
       </span>
        <dl class="dl-horizontal">
            <dt>Type</dt><dd>{{vm.config.type}}</dd>
            <dt>Hyper</dt><dd class='uuid'><a href="#/hypervisors/{{vm.hypervisor}}">{{vm.hypervisor}}</a></dd>
        </dl>
        <form ng-submit='save_description()'>
        <input 
            type='text'
            title='Set description'
            jq-run='tooltip' type='text'
            class='input-medium clean'
            ng-model="description"
        ></input>
        </form>
    </div>
    <div class='box'>
        <div class='header'>
            <i class="icon-tasks"></i> Package {{vm._package.name || 'custom'}}
        </div>
        <dl class="dl-horizontal">
            <dt>Ram</dt><dd>{{vm.config.ram | Mbytes}}</dd>
            <dt>CPU</dt>
                <dd ng-show='vm.config.vcpus'>{{vm.config.vcpus}}</dd>
                <dd ng-hide='vm.config.vcpus'>{{vm.config.cpu_shares && 'Share: ' + vm.config.cpu_shares}} {{vm.config.cpu_cap && 'Cap: ' + vm.config.cpu_cap}}</dd>
            <dt>Disk</dt><dd>{{vm.config.quota | Gbytes}}</dd>
            <dt></dt><dd></dd>
            <dt></dt><dd></dd>
        </dl>
    </div>
    <div class='box'>
        <div class='header'>
            <img ng-src="images/logos/{{vm.config._dataset.os || 'unknown'}}.png" class='oslogo'>
            <span ng-show='vm.config._dataset'>
                Dataset {{vm.config._dataset.name}} ({{vm.config._dataset.version}})<br/>
            </span>
        </div>
        <span>{{vm.config._dataset.description}}<br/></span>
        <span class='light'>{{vm.config.dataset}}</span>
    </div>

    <div class="box" ng-repeat='net in vm.config.networks'>
        <div class='header'>
            <i class="icon-retweet"></i> Network {{net.nic_tag}}
        </div>
        <dl class="dl-horizontal">
            <dt>Nic</dt>    <dd>{{net.interface | orDefault:'-'}}</dd>
            <dt>IP</dt>     <dd>{{net.ip | orDefault:'-'}}</dd>
            <dt>Mask</dt>   <dd>{{net.netmask | orDefault:'-'}}</dd>
            <dt>Router</dt> <dd>{{net.gateway | orDefault:'-'}}</dd>
            <dt>Mac</dt>    <dd>{{net.mac | orDefault:'-'}}</dd>
            <dt ng-show='net.model'>Model</dt>
                            <dd ng-show='net.model'>{{net.model | orDefault:'-'}}</dd>
            <dt>Main</dt>   <dd><input type='checkbox' ng-checked='net.primary' disabled></dd>
        </dl>
    </div>

    </div>
    <div class="tab-pane" id="history">
        <table class="table table-condensed table-hover">
            <tr ng-repeat="log in vm.log | orderBy: '-date' ">
                <td><small>{{log.log}}</small></td>
                <td class='nowrap light' title="{{log.date/1000 | date:'medium'}}" jq-run='tooltip'><small>{{log.date/1000 | fromNow}}</small></td>
            </tr>
        </table>
    </div>
    <div class="tab-pane" id="snapshots">
        <p class='pull-right'>
        <span ng-show="vm.state!='stopped' && (snapshots|hash2array).length>0" class='light' style='padding: 5px;'>To rollback, please stop the machine</span>
        <button style='margin-bottom: 10px' ng-click="snapshot('create')" class="btn" jq-run='tooltip' title='Take a new snapshot'><i class='icon-camera'></i> Snapshot</button>
        </p>
        <table class="table table-condensed table-hover pull-left">
            <tr ng-repeat="snap in snapshots | hash2array | orderBy: '-timestamp' ">
                <td><strong>{{snap.comment}}</strong></td>
                <td class='nowrap light'>{{snap.timestamp/1000 | date:'medium'}}</td>
                <td class='nowrap light'>{{snap.timestamp/1000 | fromNow}}</td>
                <td class='nowrap'>
                  <i ng-click="snapshot('rollback', snap)" jq-run="tooltip" title="rollback"
                     ng-show="vm.state=='stopped' && !vm.mdata('locked')"
                     class="icon-backward clickable"></i>
                  <i ng-click="snapshot('delete', snap)" jq-run="tooltip" title="delete"
                     ng-hide="vm.mdata('locked')"
                     class="icon-trash clickable"></i>
                </td>
            </tr>
        </table>
    </div>
    <div class="tab-pane" id="resize">
      <table class='table table-condensed table-bordered'>
        <tr><th>Current</th><th>
            <select ng-model="new_pkg"
                    ng-options="pkg.id as pkg.name for pkg in packages | hash2array | orderBy: 'name'">
            </select>
            <button style='margin-bottom: 10px;' class='btn'
               ng-disabled="vm.mdata('locked')"
               ng-show="packages[new_pkg].id != vm['package']"
               ng-click="update()">change</button>
        </th></tr>
        <tr>
          <td>
            <dl class="dl-horizontal">
              <dt>Package</dt><dd><strong>{{vm._package.name || 'custom'}}</strong></dd>
              <dt>Ram</dt><dd>{{vm.config.ram | Mbytes}}</dd>
              <dt>CPU</dt>
              <dd ng-show='vm.config.vcpus'>{{vm.config.vcpus}}</dd>
              <dd ng-hide='vm.config.vcpus'>{{vm.config.cpu_shares && 'Share: ' + vm.config.cpu_shares}} {{vm.config.cpu_cap && 'Cap: ' + vm.config.cpu_cap}}</dd>
              <dt>Disk</dt><dd>{{vm.config.quota | Gbytes}}</dd>
            </dl>
          </td>
          <td>
            <dl class="dl-horizontal">
              <dt>Package</dt><dd><strong>{{packages[new_pkg].name || 'custom'}}</strong></dd>
              <dt>Ram</dt><dd>{{packages[new_pkg].ram | Mbytes}}</dd>
              <dt>CPU</dt>
              <dd ng-hide="vm.config.type == 'zone'">{{packages[new_pkg].vcpus}}</dd>
              <dd ng-show="vm.config.type == 'zone'">Share: {{packages[new_pkg].cpu_shares}} {{packages[new_pkg].cpu_cap && 'Cap: ' + packages[new_pkg].cpu_cap}}</dd>
              <dt>Disk</dt><dd>{{packages[new_pkg].quota | Gbytes}}</dd>
            </dl>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>


